<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <% include _templates/meta %>
  <title>Bård Sandemose - About</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

<% include _templates/header %>

<div id="container" role="main" class="container">
  <div class="margin">
    <div class="intro-text">
      <h1>About me</h1>
      <div id="portrait"></div>
      <p>Hello, my name is Bård Sandemose. I'm a Norwegian illustrator, graphic designer/artist (and musician). I work within a range of different styles, and I'm always up for a challenge that can further increase my arsenal of creative ammunition. </p>

      <p>At age seventeen I moved to India on my own to attend an international high school called UWC Mahindra College. This experience turned me into a bit of a global nomad, having since lived in London and Istanbul before returning to Oslo where I'm currently based.</p>

      <p>My artwork can be found on wristwatches from <a href="http://may28th.me">Canadian custom watch company may28th</a> and on wallets and iphone cases from <a href="http://Crispywallet.com">Crispywallet.com</a>, a German company. In the past few years I've also been selling my patterns and illustrations to customers all over the world through <a href="http://shutterstock.com">shutterstock</a>, the world's leading microstock agency. During my time in London I worked full time for a charity called the Fuse School, creating animated educational videos reaching a global audience of learners through Youtube.</p>

      <p>The image on the front page consists of objects that have come across my path as a collector of little things, from way back in the early nineties and until today. Big thanks to Dario for coding and implementing this site and to Stein for photographical assistance.</p>
    </div>

  <div>
</div>

<% include _templates/footer %>

<script id="live-reload" src="http://localhost:35729/livereload.js"></script>
<script src="app.js"></script>
</body>
</html>