<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <% include _templates/meta %>
  <title>Bård Sandemose - Collage</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

<% include _templates/header %>

<div id="container" role="main" class="container">
  <div class="margin">
    <div class="intro-text">
      <h1>Collage</h1>
      <p>I created my first digital collage in 2006. After having collected all sorts of things since childhood, the flamboyant wig wearing gentleman was responsible for turning my collections into a creative laboratory. I found him on a leaflet in Barcelona, announcing some major gay disco event. When I came back home, he just fit right in with the glossy collectable pictures I had gotten from my sister as a kid. In the background I put a starry sky and space rockets from my father's old trading cards collection. The resulting piece can be seen underneath. For my traditional, scissors and glue collage artwork, please visit my <a href="https://www.behance.net/gallery/2427060/Traditional-Collage" target="_blank">Behance profile</a>
    </div>
    <div class="img-gallery">

        <div class="gallery-row">
          <img src="images/Collage1.jpg">
        </div>

        <div class="gallery-row">
          <img src="images/Collage2.jpg">
        </div>

        <div class="gallery-row">
          <img src="images/Collage4.jpg">
        </div>

        <div class="gallery-row">
          <img src="images/Collage5.jpg">
        </div>

        <div class="gallery-row">
          <img src="images/Collage6.jpg">
        </div>
    </div>
  </div>
</div>

<% include _templates/footer %>

<script id="live-reload" src="http://localhost:35729/livereload.js"></script>
<script src="app.js"></script>
</body>
</html>