<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Bård Sandemose - Illustration</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

<% include _templates/header %>

<div id="container" role="main" class="container">
  <div class="margin">
    <div class="intro-text">
      <h1>Illustration</h1>
      <p>Below is a selection of my recent illustration work. The first one is a logo for up and coming VJ Lazer Sausage //link to lazer sausage// (aka Dario Villanueva). The remaining illustrations are taken from the educational videos I made while working for the Fuse School in London. If you like my drawing style and would like a helping hand with illustration or logo design, please don't hesitate to <a href="mailto:dukepope@dukepope.com"></a>get in touch.</a>
    </div>
    <div class="img-gallery">

        <div class="gallery-row">
          <img src="images/illustration1.png">
        </div>

        <div class="gallery-row">
          <img src="images/illustration2.png">
        </div>

        <div class="gallery-row">
          <img src="images/illustration3.png">
        </div>

        <div class="gallery-row">
          <img src="images/illustration4.png">
        </div>

        <div class="gallery-row">
          <img src="images/illustration5.png">
        </div>

        <div class="gallery-row">
          <img src="images/illustration6.png">
        </div>

        <div class="gallery-row">
          <img src="images/illustration7.png">
        </div>
    </div>
  </div>
</div>

<% include _templates/footer %>

<script id="live-reload" src="http://localhost:35729/livereload.js"></script>
<script src="app.js"></script>
</body>
</html>