<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>bards-website</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

<header>
  <img class="title-image" src="images/header.png" />
  <div id="header-links" class="links-container">
    <a id="patterns"     class="map-link" href="#/patterns">Patterns</a>
    <a id="collage"      class="map-link" href="#/collage">Collage</a>
    <a id="animation"    class="map-link" href="#/animation">Animation</a>
    <a id="illustration" class="map-link" href="#/illustration">Illustration</a>
    <a id="news"         class="map-link" href="#/news">News</a>
    <a id="shop"         class="map-link" href="#/shop">Shop</a>
    <a id="t-shirts"     class="map-link" href="#/t-shirts">T-Shirts</a>
    <a id="music"        class="map-link" href="#/music">Music</a>
  </div>

</header>

<div id="container" role="main" class="container">
  <img class="body-main" src="images/body-main-image.png" />
</div>

<footer>
  <img class="footer-image" src="images/footer.png" />
  <div id="footer-links" class="links-container">
    <a id="behance"    class="map-link" href="#/music">Behance</a>
    <a id="pinterest"  class="map-link" href="#/music">Pinterest</a>
    <a id="wordpress"  class="map-link" href="#/music">Wordpress</a>
    <a id="facebook"   class="map-link" href="#/music">Facebook</a>
    <a id="twitter"    class="map-link" href="#/music">Twitter</a>
  </div>
</footer>

<script id="live-reload" src="http://localhost:35729/livereload.js"></script>
<script src="app.js"></script>
</body>
</html>