<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <% include _templates/meta %>
  <title>Bård Sandemose</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

<% include _templates/header %>

<div id="container" role="main" class="container">
  <img class="body-main" src="images/body-main-image.png" />
</div>

<% include _templates/footer %>

<script id="live-reload" src="http://localhost:35729/livereload.js"></script>
<script src="app.js"></script>
</body>
</html>