<footer>
  <img class="footer-image" src="images/footer.png" />
  <div id="footer-links" class="links-container">
    <a id="behance"    class="map-link" href="#/music">Behance</a>
    <a id="pinterest"  class="map-link" href="#/music">Pinterest</a>
    <a id="wordpress"  class="map-link" href="#/music">Wordpress</a>
    <a id="facebook"   class="map-link" href="#/music">Facebook</a>
    <a id="twitter"    class="map-link" href="#/music">Twitter</a>
  </div>
</footer>