<footer>
  <img class="footer-image" src="images/footer.png" />
  <div id="footer-links" class="links-container">
    <a id="behance"    class="map-link" target="_blank" href="https://www.behance.net/bsandemose">Behance</a>
    <a id="pinterest"  class="map-link" target="_blank" href="https://www.pinterest.com/dukepope/">Pinterest</a>
    <a id="wordpress"  class="map-link" target="_blank" href="https://dukepope.wordpress.com/">Wordpress</a>
    <a id="facebook"   class="map-link" target="_blank" href="https://www.facebook.com/dukepopezero">Facebook</a>
    <a id="twitter"    class="map-link" target="_blank" href="https://twitter.com/bsandemose">Twitter</a>
  </div>
</footer>