<header>
    <img class="title-image" src="images/header.png" />
  <div id="header-links" class="links-container">
    <a id="home"         class="map-link" href="index.html">Home</a>
    <a id="patterns"     class="map-link" href="patterns.html">Patterns</a>
    <a id="collage"      class="map-link" href="collage.html">Collage</a>
    <a id="animation"    class="map-link" href="animation.html">Animation</a>
    <a id="illustration" class="map-link" href="illustration.html">Illustration</a>
    <a id="news"         class="map-link" href="#/news">News</a>
    <a id="shop"         class="map-link" href="#/shop">Shop</a>
    <a id="t-shirts"     class="map-link" href="#/t-shirts">T-Shirts</a>
    <a id="music"        class="map-link" href="#/music">Music</a>
  </div>
</header>